@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-xs: 375px;

  --color-background: var(--background);
  --color-card: var(--card);
  --color-focus: var(--focus);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-text-inverted: var(--text-inverted);
  --color-cta: var(--cta);
  --color-cta-secondary: var(--cta-secondary);
  --color-cta-active: var(--cta-active);

  --font-poppins: var(--font-poppins);
  --font-corugette: var(--font-corugette);
  --font-sriracha: var(--font-sriracha);

  --animate-fade-in: fade-in 0.1s ease-in;
  --animate-fade-out: fade-out 0.1s ease-in;
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  body {
    @apply font-poppins text-text;
  }
}
@layer components {
  .avatar {
    @apply rounded-full object-cover aspect-square w-10 h-10;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      scale: 98%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
      scale: 100%;
    }
    to {
      opacity: 0;
      scale: 98%;
    }
  }
}
:root {
  --background: hsl(200, 100%, 97%);
  --card: hsl(300, 5%, 85%);
  --focus: hsl(300, 5%, 50%);
  --text: hsl(0, 0%, 5%);
  --text-secondary: hsl(0, 0%, 60%);
  --text-inverted: hsl(0, 0%, 95%);
  --cta: hsl(350, 100%, 45%);
  --cta-secondary: hsl(45, 84%, 63%);
  --cta-active: hsl(350, 100%, 35%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(280, 80%, 3%);
    --card: hsl(300, 15%, 15%);
    --focus: hsl(300, 15%, 20%);
    --text: hsl(0, 0%, 95%);
    --text-secondary: hsl(0, 0%, 60%);
    --text-inverted: hsl(0, 0%, 5%);
  }
}
.light {
  --background: hsl(200, 100%, 97%);
  --card: hsl(300, 5%, 85%);
  --focus: hsl(300, 5%, 50%);
  --text: hsl(0, 0%, 5%);
  --text-secondary: hsl(0, 0%, 60%);
  --text-inverted: hsl(0, 0%, 95%);
}
.dark {
  --background: hsl(280, 80%, 3%);
  --card: hsl(300, 15%, 15%);
  --focus: hsl(300, 15%, 20%);
  --text: hsl(0, 0%, 95%);
  --text-secondary: hsl(0, 0%, 60%);
  --text-inverted: hsl(0, 0%, 5%);
}
