@import 'tailwindcss';

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --breakpoint-xs: 375px;

  --font-poppins: var(--font-poppins);
  --font-corugette: var(--font-corugette);
  --font-sriracha: var(--font-sriracha);

  --color-background: var(--background);
  --color-background-inverted: var(--background-inverted);
  --color-card: var(--card);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-text-inverted: var(--text-inverted);
  --color-text-cta: var(--text-cta);

  --color-cta: var(--cta);
  --color-cta-secondary: var(--cta-secondary);

  --color-overlay: rgb(0, 0, 0, 0.5);
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  body {
    @apply font-poppins;
  }
}
@layer components {
  .no-search-icon[type='search']::-webkit-search-cancel-button,
  .no-search-icon[type='search']::-webkit-search-decoration,
  .no-search-icon[type='search']::-webkit-search-results-button,
  .no-search-icon[type='search']::-webkit-search-results-decoration {
    display: none;
  }
  .no-search-icon[type='search'] {
    -webkit-appearance: none; /* Remove a aparência do ícone no Safari e Chrome */
    -moz-appearance: textfield; /* Remove a aparência no Firefox */
    appearance: textfield; /* Para navegadores modernos */
  }
  .avatar {
    @apply rounded-full object-cover aspect-square w-10 h-10;
  }
}
:root {
  --cta: rgb(235, 0, 41);
  --cta-secondary: rgb(242, 201, 76);

  --text: rgb(0, 0, 0);
  --text-secondary: rgb(115, 115, 115);
  --text-inverted: rgb(255, 255, 255);
  --text-cta: rgb(255, 255, 255);
  --background: rgb(255, 255, 255);
  --background-inverted: rgb(2, 8, 23);
  --card: rgb(255, 255, 255);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(255, 255, 255);
    --text-secondary: rgb(172, 172, 172);
    --text-inverted: rgb(0, 0, 0);
    --background: rgb(2, 8, 23);
    --background-inverted: rgb(255, 255, 255);
    --card: rgb(6, 21, 50);
  }
}
.light {
  --text: rgb(0, 0, 0);
  --text-secondary: rgb(115, 115, 115);
  --text-inverted: rgb(255, 255, 255);
  --background: rgb(255, 255, 255);
  --background-inverted: rgb(2, 8, 23);
  --card: rgb(255, 255, 255);
}
.dark {
  --text: rgb(255, 255, 255);
  --text-secondary: rgb(172, 172, 172);
  --text-inverted: rgb(0, 0, 0);
  --background: rgb(2, 8, 23);
  --background-inverted: rgb(255, 255, 255);
  --card: rgb(6, 21, 50);
}
